{% extends 'partials/base.html' %}
{% load static %}

{% block title%} My ShopNify {% endblock %}
{% block content %}
<section class="row row-cols-1 row-cols-md-2">
    <div class="col border-end">
        <div class="flex flex-column p-4">
           <div class="row row-cols-2">
            <div class="col">
                <img class="w-100 rounded-5" src="{% static 'images/client.jpg' %}" alt="">
            </div>
            <form class="col flex flex-column justify-content-between " action="">
                <div class=" h-50 flex flex-column justify-content-center">
                    <h3>Solomon</h3>
                </div>
                <div class="h-25 flex flex-column justify-content-center">
                    <input type="file" class="form-control w-100">
                </div>
                <div class="">
                    <button class="btn w-100 btn-primary disabled" type="submit">Edit</button>
                </div>
               </form>
           </div>
           
        </div>
    </div>
    <div class="col border-end">
        <div class="flex flex-column p-4">
           <div class="flex flex-row border-bottom mb-3 w-100">
            <i class="fa fa-shopping-cart fa-2x text-primary"></i>
            <a class="ms-3 fs-4 fw-medium link-secondary" href="">My Cart</a>
            <span class="ms-3 text-secondary">0 items</span>
           </div>
           <div class="flex flex-row border-bottom mb-3 w-100">
            <i class="fa fa-heart fa-2x text-danger"></i>
            <a class="ms-3 fs-4 fw-medium link-secondary" href="">favourites</a>
            <span class="ms-2 text-secondary">0</span>
           </div>
           <div class="flex flex-row border-bottom mb-3 w-100">
            <i class="fa fa-history fa-2x text-info"></i>
            <a class="ms-3 fs-4 fw-medium link-secondary" href="">history</a>
           </div>
           <div class="flex flex-row border-bottom w-100 mb-3">
            <i class="fa fa-money fa-2x text-success"></i>
            <a class="ms-3 fs-4 fw-medium link-secondary" href="">Balance</a>
            <span class="ms-2 text-secondary">0.00 USD</span>
            <a href="#" class="link link-info ms-2">Top Up</a>
           </div>
           <div class="flex flex-row border-bottom mb-3 w-100">
            <i class="fa fa-shopping-basket fa-2x text-warning"></i>
            <a class="ms-3 fs-4 fw-medium link-secondary" href="">Pending order(s)</a>
           </div>
           <div class="flex flex-row border-bottom w-100">
            <i class="fa fa-long-arrow-left fa-2x text-danger"></i>
            <a class="ms-3 fs-4 fw-medium link-secondary" href="">Logout</a>
           </div>
        </div>
    </div>
</section>
{% endblock %}